
body{
    background-color: rgba(224, 222, 222, 0.361);
    
}
label{
    font-weight: 700;
}
h3{
    text-align: center;
}
.profile-link{
    text-decoration: none;
    color: black;
}

.profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgba(211, 211, 211, 0.808);
    padding: 20px;
    border-radius: 10px;
}
.profile:hover{
    background-color: rgb(211, 211, 211);
}
.profile p{
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 20px;
}

.profile img{
    border-radius: 50%;
    width: 80px;
    margin-left: 20px;

}

.btn{
    background-color: #00d2d3;
    border: 2px solid #00d2d3;
}
.btn:hover{
    background-color: white;
    color: #00d2d3;
    border: 2px solid #00d2d3;

}